body {
    direction: rtl;
    text-align: right;
}

.ml-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.me-2 {
    margin-right: unset !important;
    margin-left: 0.5rem !important;
}

.ps-3 {
    padding-left: unset !important;
    padding-right: 1rem !important;
}

.nice-select {
    text-align: right !important;

    .option {
        padding-right: 18px;
        padding-left: 29px;
        text-align: right;
    }
}

.nice-select.right {
    float: left;

    .list {
        left: 0;
        right: auto;
    }
}

.nice-select.left {
    float: right;

    .list {
        left: auto;
        right: 0;
    }
}

.list-unstyled,
ul {
    padding-inline-start: 0;
}

.mfp-iframe-holder {

    .mfp-close,
    button.mfp-close {
        right: unset !important;
        left: 0;
        text-align: left;
    }
}

.input-group>:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.input-group>:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.breadcrumb-item {
    + {
        .breadcrumb-item {
            padding-left: 0;
            padding-right: var(--bs-breadcrumb-item-padding-x);

            &::before {
                float: right;
                padding-right: 0;
                padding-left: var(--bs-breadcrumb-item-padding-x);
            }
        }
    }
}

.header-area {
    .main-navbar {
        .menu-dropdown {
            left: unset;
            right: 0;

            .nav-link.toggle i {
                right: unset;
                left: 20px;
            }

            &::before {
                left: unset;
                right: 25px;
            }
        }

        .navbar-nav {
            .nav-item {
                .menu-dropdown {
                    li {
                        .menu-dropdown {
                            left: unset;
                            right: 200px;

                            li {
                                .menu-dropdown {
                                    left: unset;
                                    right: 200px;

                                    li {
                                        .menu-dropdown {

                                            left: unset;
                                            right: 200px;

                                            li {
                                                .menu-dropdown {

                                                    left: unset;
                                                    right: 200px;

                                                    li {
                                                        .menu-dropdown {

                                                            left: unset;
                                                            right: 200px;

                                                            li {
                                                                .menu-dropdown {

                                                                    left: unset;
                                                                    right: 200px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nice-select::after {
        left: unset;
        right: 0;
    }
}

.mobile-menu {
    .nav-link.toggle {
        i {
            right: unset;
            left: 0;
        }
    }
}

.counter-area_v1 {
    .arrows {
        .arrow {
            left: unset;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
}

.accordion-button {
    &::after {
        text-align: left;
        margin-right: auto;
        margin-left: 0;
    }
}

.coming-soon-area {
    .main-form {
        .icon-link {
            right: unset;
            left: 0;
            border-radius: 0 30px 30px 0;
        }
    }
}

.show-password-field {
    right: unset;
    left: 16px;
}

.custom-checkbox {
    .form-check-label {
        &::before {
            left: unset;
            right: 0;
        }
    }

    input[type=checkbox] {
        + {
            .form-check-label {
                &::after {
                    left: unset;
                    right: 2px;
                }
            }
        }
    }
}

.widget-area {
    .widget-categories {
        .list-item {
            >a {
                &::before {
                    left: unset;
                    right: 0;
                }

                &::after {
                    left: unset;
                    right: 2px;
                }
            }
        }
    }

    .widget {
        .qty {
            float: left;
        }
    }
}

.custom-radio {
    .form-radio-label {
        &::before {
            left: unset;
            right: 0;
        }
    }
}

.noUi-txt-dir-rtl.noUi-horizontal {
    .noUi-handle {
        left: -8px;
        right: auto;
    }
}

@media (max-width: 1199px) {
    .mobile-menu {
        left: unset;
        right: -100%;
    }

    .mobile-menu-active .mobile-menu {
        visibility: visible;
        right: 0;
    }
}

@media (max-width: 991.98px) {
    .offcanvas-lg.offcanvas-start {
        transform: translateX(100%);
        left: unset;
        right: 0;
    }

    .offcanvas-lg.show:not(.hiding),
    .offcanvas-lg.showing {
        transform: none;
    }
}